page-general-home {
    .content {
        margin-top: 24px;
        margin-bottom: 15px;
    }
}

.card-title {
    margin-left: 3px;
    font-weight: bold;
}

.card-subtitle {
    margin-left: 3px;
}
