page-login {

}

.center{
    margin-top: 50%;
}

.input-border {
    border: 2px solid #FE7C25;
    padding-right: 5px;
    padding-left: 5%;
    border-radius: 50px 20px;
    margin-top: 1%;
}

.button-border-blue {
    border: 2px solid #0D5EA2;
    border-radius: 50px 20px;
    height: 40px;
    background: #FE7C25;
}

.button-border-orange {
    border: 2px solid #FE7C25;
    border-radius: 50px 20px;
    height: 40px;
    background: #0D5EA2;
}

.color-orange {
    color: #FE7C25;
}
.color-blue {
    color: #0D5EA2
}