page-details {
}

.share {
    margin-bottom: 50px;
    margin-top: 50px;
}

.bordershare {
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    border-color: #0D5EA2;
}

.bordergoogleplus {
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    border-color: red;
}

.borderfacebook {
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    border-color: #0000a0;
}

.bordertwitter {
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    border-color: #0080ff;
}

.borderinstagram {
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    border-color: #ff0080;
}

.borderwhatsapp {
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    border-color: #09b304;
}

.bordervimeo {
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    border-color: #07d9f5;
}

.margin-bottomall {
    margin-bottom: 150px;
}